table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 66px;
  font-weight: bold;
  color: #040608;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Stilizare de bază pentru butoane */
.year-button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  margin: 5px;
  border-radius: 8px;
}

.year-button:hover {
  background-color: #e0e0e0;
}

/* Stilizare pentru butoanele selectate */
.year-button.selected {
  background-color: #81d7da;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

*/

.schedule {
  width: 100%;
  border-collapse: collapse;
  margin-left: 150px;
  margin-right: 150px;
}

.schedule th,
.schedule td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  font-size: 20px;
}

.schedule tbody{
  background-color: #f1efef;
}
.schedule th {
  background-color: #b5ba4b;
  color: #fff;
  font-weight: bold;
}

.schedule td div {
  margin-bottom: 5px;
}

.schedule button {
  background-color: #c55d68;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;

}

.schedule button:hover {
  background-color: #981c29;
}

.student-data {
  display: flex;
  align-items: center;  /* Centrarea orizontală a etichetelor */
  justify-content: center;
  padding: 20px;        
}

.student-data label {
  border: 1px solid #e0e0e0; /* Border opțional pentru a distinge div-ul */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Umbră opțională pentru estetică */
  font-family: Arial, sans-serif; /* Schimbarea fontului */
  font-size: 16px;    /* Dimensiunea fontului */
  margin-bottom: 10px;/* Adăugarea unei distanțe între etichete */
  margin-left: 20px;       /* Adăugarea unui mic padding în jurul fiecărei etichete */
  margin-right: 20px;       /* Adăugarea unui mic padding în jurul fiecărei etichete */
  border-radius: 20px;
  padding: 5px;
}